.cart-box {
    align-items: center;
    background-color: whitesmoke;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-left-items {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.cart-left-items img {
    padding: 20px 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.cart-left-food-price {
    font-weight: 600;
}

.cart-right-items {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}