.food-card-box {
    margin: 20px 0;
    min-height: 420px;
}

.food-card-box img {
    height: 175px;
    object-fit: cover;
}

.food-card-text {
    min-height: 50px;
}

.food-card-price {
    font-weight: 600;
}