.food-top {
    margin-top: 20px;
    padding: 20px 0;
}

.food-top h1 {
    text-align: center;
}

.food-top p {
    text-align: center;
}

.searchForm {
    margin-bottom: 30px;
    display: flex;
}

.searchForm > .btn {
    margin-left: 10px;
}

.all-food{
    margin-bottom: 50px;
}