.invoice-wrapper {
    border: 1px solid #eee;
    border-radius: 5px;
}

.invoice-main {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.invoice-tag{
    padding: 10px;
    background-color: #eee;
}

.invoice-user-name {
    font-weight: 800;
}

.invoice-user-email {
    font-style: italic;
    margin-bottom: 10px;
}

.invoice-alamat {
    text-transform: uppercase;
}