.confirm-order-title {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
}

.order-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-ongkir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 800;
}

.order-addresses{
    margin-top: 30px;
}