.home-special-menu {
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-special-menu h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.home-special-menu p {
    font-family: 'Poppins', sans-serif;
}

.home-more-special-button-box {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-more-special-button {
    text-transform: uppercase;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: 145px;
    outline: none;
    color: #f7f7f7;
    border: 1px solid transparent;
}

.home-more-special-button:hover {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}