.category-wrapper {
    margin-top: 40px;
}
.category-container {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-box {
    list-style: none;
    display: inline-block;
    background-color: #fc5d35;
    color: white;
    margin: 7px;
}

.category-box #active {
    background-color: white;
    color: #fc5d35;
    border: 1px solid #fc5d35;
    outline: none;
}

.category-button {
    border: none;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.category-button:hover {
    border: 1px solid #fc5d35;
    color: #fc5d35;
    background-color: white;
}