.navbar-brand {
    color: black !important;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    display: flex;
    flex-direction: row;
    color: black !important;
    font-family: 'Montserrat', sans-serif;
}

.nav-link-cart-icon {
    border-radius: 0;
    align-items: center !important;
}

.nav-link-cart-icon-text {
    padding: 0px;
    text-align: center;
    align-items: center !important;
}

.nav-name {
    display: none;
}